<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupokki JPA Web MVC</title>
    <!-- ✅ Tailwind CDN 추가 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>

<main layout:fragment="main-content" class="bg-black">




    <div class="flex flex-col gap-2 w-full h-full items-center">
        <h1 class="my-4 inline-block text-white text-[1.5rem] font-bold">게시판1</h1>
        <ul class=" my-8 ">
            <li th:each="post:${posts}" class="w-[540px] min-w-[180px] rounded-lg bg-white m-2 hover:bg-stone-200 transition">
                <a th:href="@{/}" class="flex flex-col block w-auto h-full p-10">
                    <div class="w-full flex justify-between">
                        <div>
                            <span class="mx-2 bg-stone-500 rounded-full w-[1rem] h-[2rem]">프사</span>
                            <span th:text="${post.memberSeq}">작성자</span>
                        </div>

                        <div>2025-2-2</div>
                    </div>
                    <h2 th:text="${post.title}" class="text-bold text-[1.2rem]"></h2>
                    <div>content summary...</div>
                    <div class="flex flex-row-reverse gap-2">
                        <span><i class="px-2 bi bi-chat-dots"></i>0</span>
                        <span><i class="px-2 bi bi-heart"></i>0</span>
                    </div>

                </a>
            </li>
        </ul>
        <div class="self-end sticky bottom-4 right-4 m-8 inline-block rounded-full bg-teal-300 hover:bg-teal-700 transition">
            <a th:href="@{/posts/create}" class="flex flex-col align-center items-center p-2 flex-grow-0 w-20 h-20">
                <i class="bi bi-pencil text-[1.4rem]"></i>
                <div class="text-[0.8rem] text-bold">새 글</div>
            </a>
        </div>
    </div>

</main>
</body>
</html>