<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupokki JPA Webmvc</title>
    <!-- ✅ Tailwind CDN 추가 -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<div class="flex h-screen justify-center items-center">
    <div class="flex flex-wrap gap-2 justify-center items-start">
        <div class="w-1/3 bg-blue-500 text-white p-6 rounded-lg">index 1</div>
        <div class="w-1/3 bg-blue-500 text-white p-6 rounded-lg">index 2</div>
        <div class="w-1/3 bg-blue-500 text-white p-6 rounded-lg">index 3</div>
        <div class="w-1/3 bg-blue-500 text-white p-6 rounded-lg">index 4</div>
        <div class="w-1/3 bg-blue-500 text-white p-6 rounded-lg">index 4</div>
        <div class="w-1/3 bg-blue-500 text-white p-6 rounded-lg">index 4</div>
        <div class="w-1/3 bg-blue-500 text-white p-6 rounded-lg">index 4</div>
    </div>
</div>
</html>